  *{
      box-sizing: border-box;
      font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
      }
    body{
      margin:0; font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial;
      background: rgba(0,0,0,0.8);
      color:#eaf0ff; min-height:100vh;
    }
    .wrap{ max-width:1100px; margin:0 auto; padding:24px; display:grid; grid-template-columns: 360px 1fr; gap:18px; }
    .glass{
      background: rgba(255,255,255,0.10);
      border: 1px solid rgba(255,255,255,0.18);
      backdrop-filter: blur(18px);
      -webkit-backdrop-filter: blur(18px);
      border-radius: 18px;

      box-shadow: 0 12px 20px rgba(0,0,0,0.35);
      transition: 0.25s;
    }
    .glass:hover{
        box-shadow: 3px 3px 10px black;
      }
    .panel{ padding:16px; }
    label{ display:block; font-size:12px; opacity:.9; margin-top:12px; margin-bottom:6px; }
    input, button{
      width:100%;
      padding:10px 12px;
      border-radius:12px;
      border:1px solid rgba(255,255,255,0.18);
      background: rgba(10,18,32,0.35);
      color:#eaf0ff; outline:none;
    }
    button{ margin-top:14px; cursor:pointer; font-weight:600; }
    button:hover{
        background-color: #36a2eb
    }
    .list{ margin-top:14px; height:420px; overflow:auto; border-radius:14px; border:1px solid rgba(255,255,255,0.14); }
    .item{ padding:10px 12px; border-bottom:1px solid rgba(255,255,255,0.10); cursor:pointer; }
    .item:hover{ background: rgba(255,255,255,0.08); }
    .muted{ opacity:.85; font-size:13px; }
    .error{ background: rgba(255,80,80,0.18); border:1px solid rgba(255,80,80,0.35); padding:10px 12px; border-radius:12px; }
    table{ width:100%; border-collapse: collapse; }
    th, td{ text-align:left; padding:10px 12px; border-bottom:1px solid rgba(255,255,255,0.10); }
    canvas{ width:100% !important; height:380px !important; }
      #granularity{
        width: 100%;
        height: 30px;
        border-radius: 7px;
        background: rgba(10,18,32,0.35);
        color: #eaf0ff;
        border:1px solid rgba(255,255,255,0.18);
      }
      #granularity:focus{
        outline: none;
      }