*{
      box-sizing: border-box;
      font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
      }
    body{
      margin:0; font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial;
      background: rgba(0,0,0,0.8);
      color:#eaf0ff;
      min-height:100vh;
      display:grid;
      place-items:center;
    }
    .glass{
      width:min(720px, 92vw);
      background: rgba(255,255,255,0.10);
      border: 1px solid rgba(255,255,255,0.18);
      backdrop-filter: blur(18px);
      -webkit-backdrop-filter: blur(18px);
      border-radius: 18px;
      box-shadow: 0 12px 40px rgba(0,0,0,0.35);
      padding:20px;
      transition: 0.25s;
    }
    h1{
        margin:0 0 8px 0;
        font-size:34px;
        text-align:center
    }
    .muted{
        opacity:.85;
        margin-bottom:
        15px
    }
    input, button{
      width:100%; padding:12px 14px;
      border-radius:12px;
      border:1px solid rgba(255,255,255,0.18);
      background: rgba(10,18,32,0.35);
      color:#eaf0ff;
      outline:none;
    }
    button:hover{
        background-color: #36a2eb
    }
    button{
        cursor:pointer;
        font-weight:600;
        margin-top:10px;
    }
    .row{
        display:flex; gap:10px;
        margin-top:10px;
    }
    .bar{
        margin-top:12px;
        padding:12px 14px;
        border-radius:12px;
        border:1px solid rgba(255,255,255,0.18);
    }
    .hidden{
        display:none;
    }
    .alert{
        margin-top:12px;
        padding:12px 14px;
        border-radius:12px;
        background: rgba(255,80,80,0.18);
        border:1px solid rgba(255,80,80,0.35);
    }
    .glass:hover{
        box-shadow: 3px 3px 10px black;
      }

    .custom-file-upload {
      border: 1px solid #ccc;
      display: inline-block;
      padding: 6px 12px;
      position: relative;
      left: 50%;
      transform: translate(-50%);
      cursor: pointer;
    }
      .custom-file-upload:hover{
        color: black;
        background-color: #eaf0ff;
      }
    .loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 10px solid;
  border-color: rgba(255, 255, 255, 0.15) rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


        @keyframes right {
          0% , 100%{transform: translateY(-10px) }
          50% { transform: translateY(10px) }
        }

        @keyframes left {
          0% , 100%{ transform: translateY(10px) }
          50% { transform: translateY(-10px) }
        }
#progressBox{
      position: relative;
      }
.flexo{
      display:flex;
      justify-content: center;
      }